*{
    scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #b2b2b2;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #b2b2b2;
    transition: background 0.3s ease;
}

/* HORIZONTAL */
::-webkit-scrollbar:horizontal {
    width: 0px;
    height: 0px;
}